h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin: 20px ;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.kg-Button {
  min-width: 80px;
}

.kg-row {
  margin: 10px 5px;
}

.to-do-container{
  min-width: 100%;
  min-height: 100%
}